body
{
    min-width: 600px;
    font-family: sans-serif;
}
h1, h2, h3, h4
{
    margin: 0 auto;
    display: block;
    font-weight: bold;
}
.bodyDark
{
    background: #434343;
    color: #fefefe;
}
.bodyLight
{
    background: white;
    color: rgba(21, 51, 77, 1);
}
.container
{
    padding: 50px;
    padding-bottom: px;
    max-height: 500px;
}
.container1
{
    padding-top: 15px;
    height: 500px;
    background-image: url(slices/header_bg.jpg);
    background-size: cover;
}
.container3
{
    background-image: url(slices/clients_bg.jpg);
    background-size: cover;
    padding-bottom: 50px;
}

.socialIcons
{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.facebook
{
    background: rgba(44, 91, 151, 1);
}
.twitter
{
    background: rgba(60, 140, 181, 1);
}
.instagram
{
    background: rgba(40, 100, 142, 1);
}
.headerTitle
{
    line-height: 50px;
    text-align: center;
    border-top: 15px solid rgba(59, 133, 195, 1);
    border-bottom: 15px solid rgba(226, 29, 40, 1);
    align-content: center;
    color: white;
}
.headerMoto
{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    color: #fefefe;
    text-align: center;
    margin-top: 50px;
}
.companyTitle
{
    color: rgba(0, 74, 121, 1);
    line-height: 30px;
    margin: 0;
    border-top: 6px solid rgba(0, 74, 121, 1);
}

.container3 > .container > .row > div
{
    margin-bottom: 10.5px;
}
.container3 > .container > h2
{
    color: white;
}
.container3 > .container > .row > div > img
{
    background: rgba(23,34,46, 1);  
    display: block;
    margin: auto;
}
.centerHeader
{
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}


.form-group > .button
{
    color: rgba(43, 98, 143, 1);
}

.form-group > .button > p
{
    padding: 5px;

}

footer
{
    background: rgba(13, 23, 31, 1)
}
footer > .container > p
{
    color: white;
    font-size: 11px;
}
form
{
    background: blue;
}
.container > .row > div > form > div > input
{
    border-bottom: 2px solid rgba(202, 215, 227, 1);
    border-radius: 0px;
}

@media only screen and (min-width : 768px) 
{
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{

}